<div class="search-form">
    <form method="post">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
            <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </nav>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="gender">Giới tính</label>
            </div>
            <select name="gender" class="custom-select" id="gender-input">
                <option selected>Choose...</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
                <option value="3">Khác</option>
            </select>
        </div>
    </form>

</div>